[submodule "dot_config/nix-darwin/private"]
	path = dot_config/nix-darwin/private
	url = https://github.com/typkrft/chezmoi-nix-private.git
[submodule "code/external_repos"]
	path = code/external_repos
	url = https://github.com/typkrft/code_mono.git
[submodule "codeexternal_private_repos"]
	path = code/external_private_repos
	url = https://github.com/typkrft/private_code_mono.git
