[submodule "dot_config/nix-darwin/private"]
	path = dot_config/nix-darwin/private
	url = https://github.com/typkrft/chezmoi-nix-private.git
[submodule "code/external_personal"]
	path = code/external_personal
	url = https://github.com/typkrft/code_mono
